header {
    background-color: var(--headerBG);
    color: var(--header);
    height: 1.9rem;
    width: 100vw;
    padding: .3rem 0rem;
    display: flex;
    flex-direction: horizontal;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    /* border: 1px solid yellow; */
}

.logo {
    font-family: var(--headerTitle);
    font-size: 1.6rem;
    padding-left: .6rem;
}

#logoToscano {
    font-family: var(--standard);
}

header > nav {
    font-size: var(--stdSize);
    display: flex;
    flex-direction: horizonal;
}

#saberMasBtn {
    border: 1px solid hsl(360, 78%, 70%);
    border-radius: .5rem;
    margin-right:.3rem;
    height: 1.8rem;
    overflow: hidden;
    transition: .5s;
}

.saberMas {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0 .35rem 0 .3rem;
    /* border: 1px solid hsl(360, 78%, 70%); */
    border-radius: .3rem;
    transition: .5s;
    cursor: pointer;
    position: relative;
}

/* saberMasClose */

#saberMasBtn:active {
    background-color: hsl(360, 78%, 70%);
    border: 1px solid white;
}

.saberMas div+div {
    margin-left: 0.5rem;
}

#saberMasOpenIcon {
    transform: translateY(.15rem);
}

#saberMasCloseIcon {
    transform: translateY(.15rem);
}

/* --------------------------------------- */

#saberMasContenido {
    background-color: var(--headerBG2);
    color: white;
    border-bottom: 1px solid hsl(0, 100%, 30%);
    /* margin-top: 2.5rem; */
    padding: 1rem;
    position: absolute;
    left: 0;
    right: 0;
    top: -110vh;
    z-index: 9;
    height: 97.5vh;
    transition: .5s;
    overflow: scroll;
    transform: translateY(2.5rem);
}

/* #saberMasContenido::after {
    content: '';
    background-color: transparent;
    position: sticky;
    margin-top: 39px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: calc(100vh - 39px);
    z-index: 300;
    box-shadow: inset 0 -5px 5px black;
} */

#saberMasContenido div {
    background-color: hsl(0, 100%, 97%);
    color: var(--headerBG);
    padding: 1rem;
    border: 1px solid hsl(0, 100%, 30%);
    border-radius: 1rem;
    position: relative;
} 

#saberMasContenido div+div {
    margin-top: 1rem;
}