main {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;
    /* border: 1px solid yellow; */
}

/* ------------------------------------------------------ */

section {
    margin-top: 39px;
    padding: 1rem;
    /* border: 1px solid green; */
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 0;
    bottom: 0;
    box-shadow: -4px 0 4px 0 hsla(0, 0%, 50%, .5);
}

.subsection {
    background-color: rgba(255, 255, 255, 1);
    /* border: 1px solid red; */
    position: relative;
    height: 100%;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
}

.back {
    background-color: var(--headerBG);
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: .3rem .75rem;
    border-radius: 2rem;
    box-shadow: 1px 2px 4px 0 hsla(0, 0%, 50%, 1);
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ---------------------------------------------- */

/* #seccionSelectorACDC {
    background-color: lightblue;
} */

.seleccionACDC {
    display: flex;
    margin: 1rem 0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.3);
    transition: 0.2s;
    border: 1px solid hsla(0, 0%, 80%, 1);
    border-radius: .2rem;
    padding: .5rem;
}

.seleccionACDC:hover {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.3);
}

.seleccion-icon {
    height: 2rem;
}

.tipo-de-proteccion-icon {
    display: grid;
    place-items: center;
    width: 5rem;
    margin-right: .5rem;
}

/* ----------------------------------------------------------*/

#seccionDC {
    left: 110vw;
    right: -110vw;
}

/* ----------------------------------------------------------*/

#seccionAC {
    left: 110vw;
    right: -110vw;
}

/* ----------------------------------------------------------*/

#seccionACDC {
    left: 110vw;
    right: -110vw;
}