main {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    overflow: hidden;
    /* border: 1px solid yellow; */
}

/* ------------------------------------------------------ */

section {
    margin-top: 39px;
    padding: 1rem;
    /* border: 1px solid green; */
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 0;
    bottom: 0;
    box-shadow: -4px 0 4px 0 hsla(0, 0%, 50%, .5);
}

.subsection {
    background-color: rgba(255, 255, 255, 1);
    /* border: 1px solid red; */
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.back {
    background-color: var(--headerBG);
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: .3rem .75rem;
    border-radius: 2rem;
    /* box-shadow: 1px 2px 4px 0 hsla(0, 0%, 50%, 1); */
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid red;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
}

.arrow {
    border-radius: 2rem;
    padding: .4rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--headerBG);
}

.arrow+.arrow {
    margin-left: 1rem;
}

.arrow.down {
    transform: rotateZ(180deg);
}

/* ---------------------------------------------- */

/* #seccionSelectorACDC {
    background-color: lightblue;
} */

.seleccionACDC {
    display: flex;
    margin: 1rem 0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.3);
    transition: 0.2s;
    border: 1px solid hsla(0, 0%, 80%, 1);
    border-radius: .2rem;
    padding: .5rem;
}

.seleccionACDC:hover {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.3);
}

.seleccion-icon {
    height: 2rem;
}

.tipo-de-proteccion-icon {
    display: grid;
    place-items: center;
    width: 5rem;
    margin-right: .5rem;
}

/* ---------------------------------------------- */

.inputParent {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.inputParent+.inputParent {
    border-top: 1px solid red;
    margin-top: 1rem;
    padding-top: .5rem;
}

.inputParent label {
    text-align: center;
    margin-bottom: 0.5rem;
}

.inputMain {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.inputMain-input {
    display: grid;
    /* border: 1px solid; */
    width: 100%;
    padding: 0 1rem;
    margin-right: 1rem;
    place-items: center;
}

.inputMain-input input {
    width: 100%;
    font-size: 2rem;
}

.flechasSelectoras {
    display: flex;
    padding-right: 1rem;
    /* border: 1px solid; */
}

.arrow {
    transition: .2s;
}

.arrow:active {
    box-shadow: 0 0 4px 4px lightcoral;
}

/* #DCNStrings:focus-visible {
    border: 1px solid lightgrey
} */

/* ----------------- The switch - the box around the slider ----------------- */

/* The switch - the box around the slider */

.inputParent.seccionadores {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid red;
    justify-content: space-between;
    padding: .5rem 0;
}

/* .seccionadoresLabel {
    border: 1px solid red;
} */

.seccionadoresInput {
    margin: 0 1rem;
    /* border: 1px solid */
}

.switch-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0 !important;
}

/* Hide default HTML checkbox */
.switch-label .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

.switch-input:checked+.slider {
    background-color: var(--headerBG);
}

.switch-input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch-input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ----------------------------------------------------------*/

.btnContainer {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.btn {
    padding: .5rem 1rem;
    border: 3px solid var(--headerBG);
    border-radius: calc(2rem - 3px);
    color: white;
    font-weight: bold;
    background-color: var(--headerBG);
}

.btn:active {
    background-color: lightcoral;
}

/* --------------------------------------------------------- */

.radio-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .5rem;
    /* border: 1px solid red; */
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    width: fit-content;
    border: 2px solid red;
    background-color: hsl(0, 0%, 95%);
    padding: 4px 11px;
    font-family: monospace;
    font-size: 2rem;
    cursor: pointer;
    border-radius: .3rem;
    box-shadow: 0 2px 4px hsla(0, 79%, 72%, 1);
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: var(--headerBG);
    color: white;
}

.radio-toolbar input[type="radio"]:disabled+label {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 80%);
    ;
    border-color: hsl(0, 0%, 95%);
    box-shadow: 0 2px 4px hsla(0, 79%, 72%, 0);
}

/* ----------------------------------------------------------*/

#seccionDC {
    left: 110vw;
    right: -110vw;
}

/* ----------------------------------------------------------*/

#seccionAC {
    left: 110vw;
    right: -110vw;
}

/* ----------------------------------------------------------*/

#seccionACDC {
    left: 110vw;
    right: -110vw;
}

/* --------------------------------------------------------- */

#formResultsDiv {
    margin: calc(1rem + 39px) 1rem 1rem;
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 110%;
    bottom: -110%;
    background-color: white;
    /* padding: 1rem; */
    z-index: 1;
    border-radius: 1rem;
    transition: 0.4s;
    box-shadow: 0 0px 5px 2px lightcoral;
}

#formResultsDivBack {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    border-radius: 0 1rem;
    padding: .3rem .75rem;
    background-color: var(--headerBG);
    color: white;
    font-weight: bold;
    width: fit-content;
}

#firstBlockImg {
    width: 60%;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 4px 2px lightcoral;
}

#secondBlockh1 {
    border-bottom: 1px solid var(--headerBG);
    margin-bottom: 1rem;
}

#secondBlock {
    padding: 0 2rem;
    /* display: flex;
    flex-direction: column; */
}

#secondBlock li {
    display: block;
    margin: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

#secondBlock span {
    /* display: block; */
    margin: .5rem;
    font-size: 1rem;
    font-weight: 500
}

/* ------------------------------------------ */

.potencia,
.potencia * {
    /* border: 1px solid red; */
}

.potencia {
    padding: 0 1rem 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.potenciaLabel {
    margin: 0;

}

.inversorMonoTri label {
    font-size: 1.5rem;
}

.range-label {
    accent-color: var(--headerBG);
}