main {
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;

    overflow: hidden;
    transition: .5s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* ------------------------------------------------------ */

section {
    margin-top: 39px;
    padding: 1rem;
    /* border: 1px solid green; */
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 0vw;
    right: 0vw;
    top: 0;
    bottom: 0;
    box-shadow: -4px 0 4px 0 hsla(0, 0%, 50%, .5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subsection {
    background-color: rgba(255, 255, 255, 1);
    /* border: 1px solid red; */
    position: relative;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: min(calc(100vw - 2rem), 500px)
}

.back {
    background-color: var(--headerBG);
    color: white;
    font-weight: bold;
    width: fit-content;
    padding: .3rem .75rem;
    border-radius: 2rem;
    cursor: pointer;
    /* box-shadow: 1px 2px 4px 0 hsla(0, 0%, 50%, 1); */
}

.sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: .5rem;
    border-bottom: 1px solid red;
}

input {
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
    font-family: monospace;
}

.arrow {
    border-radius: 2rem;
    padding: .4rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--headerBG);
    cursor: pointer;
}

.arrow+.arrow {
    margin-left: 1rem;
}

.arrow.down {
    transform: rotateZ(180deg);
}

/* ---------------------------------------------- */

#seccionSelectorACDC {
    transition: .3s;
}

.seleccionACDC {
    display: flex;
    margin: 1rem 0;
    box-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.3);
    transition: 0.2s;
    border: 1px solid hsla(0, 0%, 85%, 1);
    border-radius: .5rem;
    padding: .5rem;
}

.seleccionACDC:hover {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.3);
}

.seleccion-icon {
    height: 2rem;
}

.tipo-de-proteccion-icon {
    display: grid;
    place-items: center;
    width: 5rem;
    margin-right: .5rem;
}

/* ---------------------------------------------- */

.inputParent {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

.inputParent+.inputParent {
    border-top: 1px solid red;
    margin-top: 1rem;
    padding-top: .5rem;
}

.inputParent label {
    text-align: center;
    margin-bottom: 0.5rem;
}

.inputMain {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
}

.inputMain-input {
    display: grid;
    /* border: 1px solid; */
    width: 100%;
    padding: 0 1rem;
    margin-right: 1rem;
    place-items: center;
}

.inputMain-input input {
    width: 100%;
    font-size: 2rem;
}

.flechasSelectoras {
    display: flex;
    padding-right: 1rem;
    /* border: 1px solid; */
}

.arrow {
    transition: .2s;
}

.arrow:active {
    box-shadow: 0 0 4px 4px lightcoral;
}

/* ----------------- The switch - the box around the slider ----------------- */

/* The switch - the box around the slider */

.inputParent.seccionadores {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--headerBG);
    justify-content: space-between;
    padding: .5rem 0;
}

.inputMain.seccionadores {
    padding: 0;
    margin: 0;
}

.inputMain.seccionadores label {
    padding: .2rem .4rem;
    width: fit-content;
    margin: 0 1rem;
    /* border: 1px solid */
}

.switch-label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 0 !important;
}

/* Hide default HTML checkbox */
.switch-label .switch-input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

.switch-input:checked+.slider {
    background-color: var(--headerBG);
}

.switch-input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

.switch-input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* ----------------------------------------------------------*/

.btnContainer {
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.btn {
    padding: .5rem 1rem;
    border: 3px solid var(--headerBG);
    border-radius: calc(2rem - 3px);
    color: white;
    font-weight: bold;
    background-color: var(--headerBG);
    cursor: pointer;
}

.btn:active {
    background-color: lightcoral;
}

/* --------------------------------------------------------- */

.radio-toolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: .5rem;
    /* border: 1px solid red; */
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    width: fit-content;
    border: 2px solid var(--headerBG);
    background-color: hsl(0, 0%, 95%);
    padding: 4px 11px;
    font-family: monospace;
    font-size: 2rem;
    cursor: pointer;
    border-radius: .3rem;
    box-shadow: 0 2px 4px hsla(0, 79%, 72%, 1);
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: var(--headerBG);
    color: white;
}

.radio-toolbar input[type="radio"]:disabled+label {
    background-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 80%);
    ;
    border-color: hsl(0, 0%, 95%);
    box-shadow: 0 2px 4px hsla(0, 79%, 72%, 0);
}

/* ----------------------------------------------------------*/

#seccionDC {
    left: 110vw;
    right: -110vw;
}

/* ----------------------------------------------------------*/

#seccionAC {
    left: 110vw;
    right: -110vw;
}

/* ----------------------------------------------------------*/

#seccionACDC {
    left: 110vw;
    right: -110vw;
}

/* --------------------------------------------------------- */

#formResultsDiv {
    margin: calc(1rem + 39px) 1rem 1rem;
    position: absolute;
    /* left: 0vw; */
    /* right: 0vw; */
    top: 110%;
    bottom: -110%;
    background-color: white;
    /* padding: 1rem; */
    z-index: 1;
    border-radius: .75rem;
    transition: 0.4s;
    box-shadow: 0 0px 5px 2px lightcoral;

    width: min(calc(100vw - 2rem), 500px)
}

#resultParent {
    overflow-x:auto
}

#formResultsDivBack {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    border-radius: 0 .75rem;
    padding: .3rem .75rem;
    background-color: var(--headerBG);
    color: white;
    font-weight: bold;
    width: fit-content;
}

#firstBlockImg {
    width: min(60vw, 15rem);
    margin: 2rem;
    border-radius: .75rem;
    box-shadow: 0 0 4px 2px lightcoral;
}

#secondBlockh1 {
    border-bottom: 1px solid var(--headerBG);
    margin-bottom: 1rem;
}

#secondBlock {
    padding: 0 2rem;
    /* display: flex;
    flex-direction: column; */
}

#secondBlock li {
    display: block;
    margin: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

#secondBlock span {
    /* display: block; */
    margin: .5rem;
    font-size: 1rem;
    font-weight: 500
}

/* ------------------------------------------ */

.inversorMonoTri label {
    font-size: 1.5rem;
}

/* .potencia,
.potencia * {
    border: 1px solid red;
} */

.potencia {
    padding: 1rem 1rem 1rem 0 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid red;
}

.potenciaLabel {
    margin: 0;
}

.potenciaDisplay,
.potenciaDisplay * {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: monospace;
    margin-right: .3rem;

}

.potenciaDisplay {
    padding: 0.2rem 0.4rem;
    margin-right: 1rem;
    border: 2px solid var(--headerBG);
    border-radius: 0.3rem;
    background-color: hsl(0, 0%, 95%);
    box-shadow: 0 2px 4px lightcoral;
}

label[for="potenciaACDC"],
label[for="potenciaAC"] {
    margin: 0;
    margin-top: .4rem;
}

.potenciaInput {
    display: flex;
    align-items: center !important;
}

.range-label {
    accent-color: var(--headerBG);
}

/* ----------------------------------------------------- */

/* footer{
    display: flex;
    flex-direction: ;
}

#customFormSection {
    margin: calc(1rem + 39px) 1rem 1rem;
    position: absolute;
    height: fit-content;
    bottom: -110%;
    background-color: white;
    padding: 1rem;
    z-index: 1;
    border-radius: .75rem;
    transition: 0.5s;
    box-shadow: 0 0px 5px 2px lightcoral;

    width: min(calc(70vw), 500px)
}

#customFormSectionBack {
    position: absolute;
    top: 0;
    bottom: auto;
    right: 0;
    border-radius: 0 .75rem;
    padding: .3rem .75rem;
    background-color: var(--headerBG);
    color: white;
    font-weight: bold;
    width: fit-content;
}
*/

.customEco {
    padding-top: .5rem;
    border-top: 1px solid var(--headerBG);
    text-align: center;
    color: darkslategrey;
    position: relative;
    bottom: 1rem;
    align-self: auto;
}

/* #formWrap {
    margin-top: .5rem;
    background-color: hsl(0, 100%, 95%);
    padding: .3rem 1rem;
    border-radius: .5rem;
    overflow: hidden;
    height: 1.4rem;
    transition: 1s;
} */

/*

.formCustom {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: .5rem;
}

.formCustom #cuentaCuenta {
    height: 2rem;
}

.formCustom label {
    margin-top: .5rem;
}

.formCustom input,
.formCustom textarea {
    width: 100%;
    border: 1px solid lightcoral;
    border-radius: .2rem;
    text-align: left;
    padding: .2rem;
}

.formCustom button {
    background-color: hsl(0, 100%, 95%);
    border: 1px solid lightgray;
    border-radius: .5rem;
    color: var(--headerBG);
    font-weight: 700;
    padding: .2rem 1rem;
    margin: 1rem auto 0;
    box-shadow: 0 2px 2px lightcoral;
    transition: 200ms;
    cursor: pointer;
    transition: 200ms;
}

.formCustom button:active {
    background-color: hsl(0, 0, 95%);
    border-radius: .5rem;
    margin: 1rem auto 0;
}

*/

#formWrap {
    margin-top: .3rem;
    padding: 0.1rem .5rem;
    border-radius: .5rem;
    border: 1px solid lightgray;
    box-shadow: 0 0px 1px lightcoral;
    border: 1px solid var(red);
    color: var(--darkRed);
    color: var(--headerBG);
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0 2px 2px lightcoral;
    transition: 200ms;
    cursor: pointer;
    transition: 200ms;
}

#formWrap:active {
    box-shadow: 0 0px 1px lightcoral;
    border: 1px solid var(red);
    color: var(--darkRed);
    text-decoration: underline;
}

#formWrapMail {
    font-weight: bold;
}

/* -------------------------------- */

.esquema img {
    width: 100%;
}
