/* IMPORT FONTS */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Noto+Sans:wght@400;700&display=swap');

:root {
    /* FONTS */
    --headerTitle: 'Montserrat', sans-serif;
    --standard: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif;
    --stdSize: 0.97rem;

    /* COLORS */
    --headerBG: hsl(0, 78%, 53%);
    --headerBG2: hsla(360, 78%, 53%, .80);
    --header: hsl(0, 100%, 100%);
    --darkRed: hsl(0, 100%, 30%);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 40
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

* {
    margin: 0;
    padding: 0;
    border-width: 0;
    font-family: var(--standard);
    font-size: var(--stdSize);
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
    -webkit-tap-highlight-color: transparent;
}

*:focus {
    outline: none !important;
}

h1{
    font-weight: 400;
}


.loadingBanner {
    display: grid;
    /* display: none; */
    /* flex-direction: column; */
    place-items: center;
    position: absolute;
    top: 0;
    z-index: 200;
    width: 100vw;
    height: 100%;
    background: rgb(255, 107, 70);
    background: var(--headerBG);
    /* background: linear-gradient(45deg, #e52a2aff, rgb(255, 161, 106)); */
    /* background: linear-gradient(45deg, #e52a2aff, #e52a2aff); */
    transition: 3s;
}

#loadingBannerContent {
    display: flex;
    /* display: none; */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 200;
    width: min(100vw, 600px);
    height: 100%;
}

#bannerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ecoDcTitle {
    font-family: var(--headerTitle);
    font-size: 1.8rem;
    transition: 3s;
    color: white;
}

.ecoDcSubTitle {
    /* font-family: var(--headerTitle); */
    font-size: 1.3rem;
    color: white;
}

.horizontalLine {
    width: 30%;
    border-bottom: 1px solid white;
}

#loadingBannerLogo {
    width: 30%;
}

#loadingBannerDoodle {
    width: 70%;
    margin-bottom: 1rem;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 700,
  'GRAD' 200,
  'opsz' 48
}